#edit-user-fields-wrapper {
  border: 1px solid #ccc;
  padding: .5em 1em 0 .5em;
  margin-right: 1em;
}
.views-user-fields-configurations-links .item-list h3 {
  margin-bottom: 0;
}
.views-user-fields-configurations-links .item-list ul {
  margin-top: 0;
}
.views-user-fields-configurations-links .item-list ul a.active {
  font-weight: bold;
}
label[for^="edit-views-user-fields"] {
  display: inline;
}
label[for^="edit-views-user-fields"] + input {
  vertical-align: middle;
}
